#!/bin/bash

TG_TOKEN=""
TG_CHAT_ID=""

CRYPTO_BOT_PATH="${HOME}/crypto-bot" && cd $CRYPTO_BOT_PATH

GITRESPONSE=`git pull` && UPDATED='Already up to date.'

if [[ $GITRESPONSE != $UPDATED ]]; then
        GITCOMMITTER=`git show -s --format='%cn'`
        GITVERSION=`git show -s --format='%h'`
        GITCOMMENT=`git show -s --format='%s'`
        
        curl -s --data "text=🆕 <b>Update <i>Crypto Bot</i></b> by <code>${GITCOMMITTER}</code>!%0ACommit: <code>$GITVERSION</code>%0AComment: <code>${GITCOMMENT}</code>%0A⏳ Please wait for reload..." \
                --data "parse_mode=HTML" \
                --data "chat_id=$TG_CHAT_ID" \
                "https://api.telegram.org/bot${TG_TOKEN}/sendMessage"

        /usr/local/bin/docker-compose restart > /dev/null &&

        curl -s --data "text=🆗 CB reload has been completed!" \
                --data "parse_mode=HTML" \
                --data "chat_id=$TG_CHAT_ID" \
                "https://api.telegram.org/bot${TG_TOKEN}/sendMessage"
fi
